<head><meta name="viewport" content="width=device-width, initial-scale=1"/></head>
<body>
    <p>This was entirely based off <a href="http://norvig.com/google-books-common-words.txt">Norvig's corpus</a>.</p>
    <p>Oxford 3000 word order:</p>
    <ul>
    <li><a href="simple.txt">Word order</a></li>
    <ul>
        <li><a href="simple_n.txt">with line numbers</a>
    </ul></ul>
    <p><a href="classes.txt">Most common word classes</a></p>
    <p>I also did one for <a href="spa-common.txt">Spanish</a></p>
</body>
